Package         Version
--------------- -----------
colorama        0.4.6
markdown-it-py  3.0.0
mdurl           0.1.2
numpy           2.0.2
opencv-python   4.10.0.84
pandas          2.2.2
pip             24.2
Pygments        2.18.0
python-dateutil 2.9.0.post0
pytz            2024.1
rich            13.8.0
setuptools      72.1.0
six             1.16.0
tqdm            4.66.5
tzdata          2024.1
wheel           0.44.0
